<section class="bg-gray-50 dark:bg-gray-900">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="bg-white rounded-lg shadow p-4 dark:bg-gray-800 dark:border-gray-700">
          <h1 class="text-xl font-bold text-center text-gray-900 md:text-2xl dark:text-white">
            Bienvenido a BlogShip cambio!
          </h1>
          <div class="space-y-4">
            <div>
              <label for="email" class="form-label mb-2 text-gray-900 dark:text-white">Email</label>
              <input type="email" name="email" id="email" #email
                class="form-control bg-gray-50 border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="example@email.com" required>
            </div>
            <div>
              <label for="password" class="form-label mb-2 text-gray-900 dark:text-white">Contraseña</label>
              <input type="password" name="password" id="password" placeholder="••••••••" #password
                class="form-control bg-gray-50 border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
            </div>

            <button type="click" (click)="logIn(email.value, password.value)"
              class="btn btn-primary w-100 mb-3">Iniciar Sesión</button>

            <button type="click" (click)="logInWithGoogle()"
              class="btn btn-light w-100 d-flex align-items-center justify-content-center">
              <div class="w-6">
                <img class="google-logo" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy"
                  alt="google logo">
              </div>
              <span class="ms-2">Iniciar sesión con Google</span>
            </button>
            <p class="text-sm text-center text-gray-500 dark:text-gray-400">
              ¿Todavía no tienes cuenta?
              <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                routerLink="/sign-up">Registrate</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
