.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-title {
  color: white; /* Cambia el color del texto a blanco */
}

.menu-link {
  color: white; /* Cambia el color del texto a blanco */
  text-decoration: none; /* Quita el subrayado */
}

.menu-link:hover {
  text-decoration: none; /* Quita el subrayado en el estado de hover */
}

.menu-toolbar {
  background-color: transparent; /* Hace que el fondo de la barra de herramientas del menú sea transparente */
}

