<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="menu-title">{{titulo}}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Menú de navegación -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu-toolbar">
      <a [routerLink]="['/dashboard-material']" class="menu-link">Menu</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['datosUsuario']">Mi Cuenta</a>
      <a mat-list-item [routerLink]="['crearPost']">Crear Posts</a>
      <a mat-list-item [routerLink]="['paraTi']">Para Ti</a>
      <a (click)="logOut()" mat-list-item href="#">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Contenido dinámico según la ruta -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

