<div class="container mt-5">
    <h2 class="text-center mb-4">Posts</h2>
    <table class="table table-bordered table-hover">
      <thead class="text-center">
        <tr>
          <th>ID</th>
          <th>Imagen</th>
          <th>Titulo</th>
          <th>Pie</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let post of posts; let i = index">
          <td>{{ post.id}}</td>
          <td>{{ post.ruta_imagen }}</td>
          <td>{{ post.titulo_imagen }}</td>
          <td>{{ post.pie_imagen}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="borrarPost(post)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  