<div class="container mt-5">
  <div *ngIf="posts$ | async as posts">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card *ngFor="let post of posts" class="mb-3">
          <!-- Título del post -->
          <mat-card-header>
            <mat-card-title><strong>{{ post.titulo_imagen }}</strong></mat-card-title>
          </mat-card-header>
          <!-- Imagen del post -->
          <img mat-card-image src="{{ post.ruta_imagen }}" alt="Imagen del post">
          <div class="card-body">
            <!-- Pie de foto del post -->
            <p class="card-text">{{ post.pie_imagen }}</p>
            <!-- Agregamos el botón que llama al método y pasa el post como parámetro -->
            <button mat-button color="primary" class="btn btn-primary btn-sm" (click)="comentarPost(post)">Comentar</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

